* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#canvas {
    border: 1px solid black;
}



.pozadina{
    background-image: url('im.jpg')
}

.container{
    align-self: center;
}